.dropdown {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	z-index: 1;

	button:focus {
		background-color: #e2e6ea;
		border-color: #e2e6ea;
	}
}

.show {
	display: block;
}

.disabled {
	background-color: rgba(0, 0, 0, 0.1) !important;
	border-color: transparent !important;
	pointer-events: none;
}
