$black: #000000;
$brown: #664d03;
$beige: #ffecb5;
$light-beige: #fff3cd;
$medium-black: rgba(0, 0, 0, 0.3);
$light-black: rgba(0, 0, 0, 0.2);
$lighter-black: rgba(0, 0, 0, 0.1);
$dark-black: rgba(0, 0, 0, 0.6);
$red: #ff0000;
$white: #ffffff;
$dark-white: #f5f5f5;
$grey: #a9a9a9;
